<script type="text/javascript">
  let searchData = [];

  // Fetch search data
  fetch('/search.json')
    .then(response => response.json())
    .then(data => {
      searchData = data;
    });

  const searchBarMain = document.getElementById('search-bar-main');

  const searchInputSmall = document.getElementById('search-input-small');
  const searchInputBig = document.getElementById('search-input-big');

  const searchResultsSmall = document.getElementById('search-results-small');
  const searchResultsBig = document.getElementById('search-results-big');

  searchInputSmall?.addEventListener('input', debounce(syncAndSearch, 300));
  searchInputBig?.addEventListener('input', debounce(syncAndSearch, 300));

  function getVisibleInput() {
    const style = window.getComputedStyle(searchBarMain);
    const displayValue = style.getPropertyValue('display');

    if (displayValue != "none") {
      return searchInputBig;
    }
    
    return searchInputSmall;
  }

  function getInvisibleInput() {
    const style = window.getComputedStyle(searchBarMain);
    const displayValue = style.getPropertyValue('display');

    if (displayValue == "none") {
      return searchInputBig;
    }
    
    return searchInputSmall;
  }

  function setResultInnerHTML(content) {
    [searchResultsSmall, searchResultsBig].forEach((element) => element.innerHTML = content);
  }

  function addResultClass(className) {
    [searchResultsSmall, searchResultsBig].forEach((element) => element.classList.add(className));
  }

  function removeResultClass(className) {
    [searchResultsSmall, searchResultsBig].forEach((element) => element.classList.remove(className));
  }

  function syncAndSearch() {
    syncValue();
    handleSearch();
  }

  function syncValue() {
    getInvisibleInput().value = getVisibleInput().value;
  }

  function handleSearch() {
    const query = getVisibleInput().value.toLowerCase();

    // don't process 1 character
    if (query.length < 2) {
      setResultInnerHTML('');
      addResultClass('hidden');

      return;
    }

    const matches = searchData
      .map(item => ({
        item,
        score: fuzzyMatch(query, item.title.toLowerCase())
      }))
      .filter(({ score }) => score > 0.3)
      .sort((a, b) => b.score - a.score)
      .slice(0, 5);

    renderResults(matches);
  }

  function fuzzyMatch(query, text) {
    let score = 0;
    let textIndex = 0;

    for (let i = 0; i < query.length; i++) {
      const index = text.indexOf(query[i], textIndex);
      if (index === -1) return 0;
      score += 1 / (index - textIndex + 1);
      textIndex = index + 1;
    }

    return score / query.length;
  }

  function renderResults(matches) {
    let resultInnerHTML;
    if (matches.length === 0) {
      resultInnerHTML = '<p class="p-2 text-gray-500 dark:text-gray-500">No results found</p>';
    } else {
      resultInnerHTML = matches
        .map(({ item }) => `
            <a href="${item.url}" class="block p-2 hover:bg-gray-200 dark:hover:bg-gray-800">
              <h3 class="font-semibold">${item.title}</h3>
              <p class="text-sm text-gray-600 dark:text-gray-400">${item.description}</p>
            </a>
          `)
        .join('');
    }

    setResultInnerHTML(resultInnerHTML);
    removeResultClass('hidden');
  }

  function debounce(func, delay) {
    let timeoutId;
    return function (...args) {
      clearTimeout(timeoutId);
      timeoutId = setTimeout(() => func.apply(this, args), delay);
    };
  }

  // hide search results on click
  document?.addEventListener('click', (event) => {
    if (!searchInputSmall.contains(event.target) && !searchResultsSmall.contains(event.target)) {
      searchResultsSmall.classList.add('hidden');
    }

    if (!searchInputBig.contains(event.target) && !searchResultsBig.contains(event.target)) {
      searchResultsBig.classList.add('hidden');
    }
  });
</script>