<script type="text/javascript">
    const themeToggleBtn = document.getElementById('theme-toggle');
    const themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon');
    const themeToggleLightIcon = document.getElementById('theme-toggle-light-icon');

    const themeColorMetaTag = document.querySelector('meta[name="theme-color"]');

    const themeComment = document.getElementById('giscus');

    // add click listener to theme toggle button
    themeToggleBtn?.addEventListener('click', function () {
        setTheme(!document?.documentElement?.classList?.contains('dark'));
    });

    // set initial theme
    if (sessionStorage.theme === 'dark' || (!('theme' in sessionStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        setTheme(true);
    } else {
        setTheme(false);
    }

    function setTheme(isDark) {
        if (isDark) {
            sessionStorage.theme = 'dark';

            document.documentElement?.classList?.add('dark');

            themeToggleDarkIcon?.classList?.add('hidden');
            themeToggleLightIcon?.classList?.remove('hidden');

            themeColorMetaTag.setAttribute('content', '#1A1A1A');

            if (themeComment) {
                themeComment.setAttribute('data-theme', 'noborder_dark');
            }
        } else {
            sessionStorage.theme = 'light';

            document.documentElement?.classList?.remove('dark');

            themeToggleDarkIcon?.classList?.remove('hidden');
            themeToggleLightIcon?.classList?.add('hidden');

            themeColorMetaTag.setAttribute('content', '#FFFFFF');

            if (themeComment) {
                themeComment.setAttribute('data-theme', 'noborder_light');
            }
        }
    }
</script>